{% extends 'main/layout.html'   %}
{%  load static  %}
{%  block  tittle %}Главная страница{% endblock %}



{%  block  content %}


<body class="1b">
    <div class="gym_exc">
        <h1 class="ex">Лучшие упражнения в зале на различные группы мыщц</h1>
    <section class="fsec">
        <ul class="main__ul">
            <a href="{% url 'sh1' %}" class="main__a">
                <img class="animate1" src="{% static 'main/img/shoulders.png'  %}">
                <p class="main__p">Упражнения на плечи</p>
            </a>
            <a href="{% url 'bis1' %}" class="main__a">
                <img class="animate1" src="{% static 'main/img/biseps1.png'  %}">
                <p class="main__p1">Упражнения на бицепс</p>
            </a>
            <a href="{% url 'tric' %}" class="main__a">
                <img class="animate1" src="{% static 'main/img/triceps2.png'  %}">
                <p class="main__p2">Упражнения на трицепс</p>
            </a>


        </ul>
        </section>


        <section class="fsec">
        <ul class="main__ul">
            <a href="{% url 'legs' %}" class="main__a">
                <img class="animate1" src="{% static 'main/img/legs2.png'  %}">
                <p class="main__p">Упражнения на ноги</p>
            </a>
            <a href="{% url 'pres' %}" class="main__a">
                <img class="animate1" src="{% static 'main/img/pres.png'  %}">
                <p class="main__p1">Упражнения на пресс</p>
            </a>
            <a href="{% url 'fore' %}" class="main__a">
                <img class="animate1" src="{% static 'main/img/fore.png'  %}">
                <p class="main__p2">Упражнения на предпляечья</p>
            </a>


        </ul>
        </section>
        <section>
</body>
            <style>
.container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.slider-inner {
  display: flex;
  overflow: hidden;
}

.slide {
  width: 200px;
  display: none;
}

.slide img {
  width:260px;
  height:150px;
  transition: all 1s ease;
  margin-right:25px;

}

.slide img {
        text-decoration: none;
        border: none;
        padding: 1px 1px;
        font-size: 16px;
                           //background-color: green;
        color: #fff;
        border-radius: 0px;

        cursor: pointer;
        outline: none;
        transition: 0.6s all;
        border: 1px solid #cac9c9 ;
    }
.slide img:hover {



}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(168, 172, 168, 0.6);;
  color: white;
  text-align: center;
  line-height: 40px;
}

.arrow.left {
  left: 12px;
  margin-top:-20px;
  opacity:1;

}

.arrow.right {
  right: 328px;
  margin-top:-20px;
  opacity:1;
}

.arrow.left:hover {
  left: 12px;
  margin-top:-20px;
  opacity:0.5;

}

.arrow.right:hover {
  right: 328px;
  margin-top:-20px;
  opacity:0.5;
}

</style>
</head>
<body class="main__b">
<section class="main__sec__tr">
    <div>
        <h1 class="desc">Описание групп мышц</h1>
        <p class="descp">Ниже можно увидеть описание групп мышц, упражнения на развитие которых представляет наш сайт Sportprog. </p>
    </div>
<div class="exercises">
<div class="container">
  <div class="slider-inner">
    <div class="slide"><img src="{% static 'main/img/forearm.png'  %}" alt="Image 1"></div>
    <div class="slide"><img src="{% static 'main/img/forearm2.png'  %}" alt="Image 2"></div>
    <div class="slide"><img src="{% static 'main/img/forearm3.png'  %}" alt="Image 3"></div>
  </div>
  <div class="arrow left" onclick="prevSlide()">&#10094;</div>
  <div class="arrow right" onclick="nextSlide()">&#10095;</div>

</div>
    <div class="div__desc">
        <h1 class="h__desc">Предплечья</h1>
        <p class="p__desc">По своей функции они разделяются на сгибатели и разгибатели, причем одни из них сгибают и разгибают всю кисть целиком, а другие — пальцы. Кроме того, существуют еще пронаторы и супинаторы, производящие соответствующие движения лучевой кости. По положению все эти мышцы распадаются на две </p>
        <p class="p__desc_n" >группы: переднюю, в состав которой входят сгибатели и пронаторы, и заднюю, состоящую из разгибателей и супинаторов.</pclassp__desc>
        <p class="p__desc_n2"> Каждая группа слагается из поверхностного и глубокого слоев. Поверхностный слой мышц передней группы берет начало в области медиального надмыщелка плеча, такой же слой задней группы — в области латерального надмыщелка. Глубокий слой обеих групп в главной своей части уже не находит места прикрепления на надмыщелках, а берет свое начало на костях предплечья и на межкостной перепонке. Конечные прикрепления сгибателей и разгибателей кисти находятся на основаниях пястных костей, а такие же мышцы, идущие к пальцам, прикрепляются к фалангам, за исключением длинной отводящей большой палец мышцы, прикрепляющейся к I пястной кости.</p>
    </div>
<script>
let currentSlide = 0;
const slides = document.querySelectorAll('.slide');

function showSlide(index) {
  slides.forEach((slide) => {
    slide.style.display = 'none';
  });

  if (index < 0) {
    currentSlide = slides.length - 1;
  } else if (index >= slides.length) {
    currentSlide = 0;
  } else {
    currentSlide = index;
  }

  slides[currentSlide].style.display = 'block';
}

function nextSlide() {
  showSlide(currentSlide + 1);
}

function prevSlide() {
  showSlide(currentSlide - 1);
}

showSlide(currentSlide);
</script>




<div class="exercises1">
<div class="container">
  <div class="slider-inner">
    <div class="slide"><img src="{% static 'main/img/forearm.png'  %}" alt="Image 1"></div>
    <div class="slide"><img src="{% static 'main/img/forearm2.png'  %}" alt="Image 2"></div>
    <div class="slide"><img src="{% static 'main/img/forearm3.png'  %}" alt="Image 3"></div>
  </div>


</div>
    <div class="div__desc1">
        <h1 class="h__desc1">Мышцы плеч</h1>
        <div class="ran">
            <p class="p__desc1">Все мышцы плечевой анатомической области можно разделить на заднюю и переднюю группы.</p>
            <p class="p__desc_n1" >Передняя группа мышц плеча:</p>
            <div class="pages">
                <div class="slide1"><img class="img__cl" src="{% static 'main/img/plecho.png'  %}" alt="Image 1">
                    <p>Двуглавая мышца плеча</p>
                </div>
                <div class="slide1"><img class="img__cl"  src="{% static 'main/img/plecho2.png'  %}" alt="Image 2">
                    <p>Клювовидно-плечевая мышца</p>
                </div>
                <div class="slide1"><img class="img__cl" src="{% static 'main/img/plecho3.png'  %}" alt="Image 3">
                    <p>Плечевая мышца</p>
                </div>


            </div>
            <div class="part">
                <h3>Двуглавая</h3>
                <img class="img__two" src="{% static 'main/img/plecho.png'  %}">
                <p class="two__p1">Двуглавая мышца плеча имеет две головки, откуда и получила свое характерное название. Длинная головка берет свое начало с помощью сухожилия от надсуставного бугорка лопатки. Сухожилие проходит сквозь суставную полость плечевого сочленения, ложится в межбугорковую борозду плечевой кости и переходит в мышечную ткань. В межбугорковой борозде сухожилие окружено синовиальной оболочкой, которая соединяется с полостью плечевого сустава.</p>
                <p class="two__p">Короткая головка берет свое начало от верхушки клювовидного отростка лопаточной кости. Обе головки сливаются вместе и переходят в мышечную ткань веретеновидной формы. Немного выше локтевой ямки мышца сужается и переходит вновь в сухожилие, которым крепится к бугристости лучевой кости предплечья.</p>

                <h4>Функции</h4>
                <p>1) Сгибание верхней конечности в плечевом и локтевом суставах;</p>
                <p>2) Супинация предплечья.</p>
            </div>
            <div class="part">
                <h3>Клювовидно-плечевая</h3>
                <img class="img__two" src="{% static 'main/img/plecho2.png'  %}">
                <p class="two__p1">Начинается мышечное волокно от клювовидного отростка лопаточной кости, крепится к плечевой кости примерно по середине с внутренней стороны.</p>

                <h4>Функции</h4>
                <p>1) Сгибание плеча в плечевом сочленении;</p>
                <p>2) Приведение плеча к туловищу;</p>
                <p>3) Принимает участие в повороте плеча наружу;</p>
                <p>4) Тянет лопаточную кость вниз и кпереди.</p>
            </div>
            <div class="part">
                <h3>Плечевая</h3>
                <img class="img__two" src="{% static 'main/img/plecho3.png'  %}">
                <p class="two__p1">Это достаточно широкая мышца, которая лежит непосредственно под двуглавой. Начинается от передней поверхности верхней части плечевой кости и от межмышечных перегородок плеча. Крепится к бугристости локтевой кости.</p>

                <h4>Функции</h4>
                <p>Чистый сгибатель предплечья.</p>

                <p class="p__desc_n1" >Задняя мышечная группа:</p>
                <div class="pages">
                    <div class="slide1"><img class="img__cl" src="{% static 'main/img/plecho4.png'  %}" alt="Image 1">
                    <p>Трёхглавая мышца плеча</p>
                </div>
                    <div class="slide1"><img class="img__cl"  src="{% static 'main/img/plecho5.png'  %}" alt="Image 2">
                        <p>Локтевая</p>
                    </div>
                </div>
            </div>
                <div class="part">
                    <h3>Трёхглавая</h3>
                    <img class="img__two" src="{% static 'main/img/plecho4.png'  %}">
                    <p class="two__p1">Данное анатомическое образование имеет три головки, откуда название. Длинная головка берет свое начало от подсуставного бугорка плечевой кости и ниже середины плечевой кости переходит в общее для трех головок сухожилие. Боковая головка начинается от задней поверхности плечевой кости и боковой межмышечной перегородки. Срединная головка начинается от задней поверхности плечевой кости и обеих межмышечных перегородок плеча. Крепится мощным сухожилием к локтевому отростку локтевой кости.</p>

                    <h4>Функции</h4>
                    <p>1) Разгибание предплечья в локтевом суставе;</p>
                    <p>2) Приведение и разгибание плеча благодаря длинной головке.</p>
                </div>
                <div class="part">
                    <h3>Локтевая</h3>
                    <img class="img__two" src="{% static 'main/img/plecho5.png'  %}">

                    <p class="two__p1">Является как бы продолжением срединной головки трехглавой мышцы плеча. Свое начало берет от бокового надмыщелка плечевой кости, а крепится к задней поверхности локтевого отростка локтевой кости и к ее телу (проксимальной части).</p>

                    <h4>Функции</h4>
                    <p>Разгибание предплечья в локтевом суставе</p>

                </div>
                <div class="part">
                    <h3>Мышца локтевого сустава</h3>

                    <p class="two__p1">Это непостоянное анатомическое образование. Некоторые специалисты рассматривают его как часть волокон срединной головки трехглавой мышцы, которые крепятся к капсуле локтевого сочленения.</p>

                    <h4>Функции</h4>
                    <p>Натягивает капсулу локтевого сустава, чем препятствует ее защемлению.</p>

                </div>
                <div class="part">
                    <h3>Мышцы плечевого пояса</h3>
                    <img class="img__two1" src="{% static 'main/img/plecho6.png'  %}">
                    <img class="img__two1" src="{% static 'main/img/plecho7.png'  %}">
                    <p class="two__p1">Обе группы мышц плеча отделяются друг от друга двумя соединительнотканными межмышечными перегородками, которые тянутся от общей плечевой фасции (окутывающей весь мышечный каркас плеча) к боковому и срединному краям плечевой кости.</p>

                    <h4>Стоит назвать и мышцы пояса верхней конечности, которые часто причисляют к мышечным образованиям плеча:</h4>
                    <p>1) Дельтовидная мышца плеча,</p>
                    <p>2) Над- и подостная мышца,</p>
                    <p>3) Малая и большая круглая,</p>
                    <p>4) Подлопаточная.</p>

                </div>
            </div>
        </div>
        <div class="div__desc1">
        <h1 class="h__desc1">Бицепс</h1>
        <div class="ran">
            <p class="p__desc1">Двуглавая мышца плеча, или бицепс плеча (англ. biceps brachii) расположена в передней части руки. Она воздействует на три сустава и может обеспечивает движения в плечевом, локтевом и лучелоктевом суставах</p>
            <p class="p__desc_n1" >Двуглавая мышца плеча состоит из двух головок, которые берут начало от лопатки:</p>
            <div class="pages">
                <div class="slide1"><img class="img__two11" src="{% static 'main/img/biseps2.png'  %}" alt="Image 1">
                    <p>Короткая головка: вершина клювовидного отростка лопатки.</p>
                    <p>Длинная головка: надсуставной бугорок лопатки.</p>
                </div>



            </div>
            <div class="part1">
                <h4>Функции</h4>
                    <p>Основные функции двуглавой мышцы плеча – сгибание локтя и супинация предплечья. Фактически, это главный супинатор предплечья. Поскольку она пересекает плечевой сустав, она также помогает его сгибать.

При разных положениях локтевого сустава двуглавая мышца плеча действует по-разному.</p>

            </div>
        </div>
    </div>
    </div>

</section>













{% endblock %}