<!DOCTYPE html>
{% extends 'main/layout.html'   %}
{%  load static  %}


{%  block  content %}




<body class="main__body">
    <section class="main__sec">

        <div class="features" style="{% static 'main/img/зал2.png'  %}" >

        <div class="main__h1">
            <h1 class="ex__sh">Лучшие упражнения для развития плечей</h1>
        </div>
        <h2 class="main__h2">Махи гантелями стоя</h2>
        <img class="ex__img" src="{% static 'main/img/sh1.png'  %}" alt="Плечи">
        <div class="main__h5">
            <h5>Техника</h5>
        </div>
        <div class="main__p22">
            <p>  1)Взять две гантели в руки так, чтобы они находились горизонтально к полу;</p>
            <p>    2)Встать, немного расставить ноги и выпрямить спину. Зафиксировать локтевой сустав в слегка согнутом состоянии;</p>
            <p>   3)Совершить на вдохе махи гантелями в стороны, доводя локоть до уровня плеч;</p>
            <p>4)Вернуть руки в исходное положение и выдохнуть.</p>
        </div>
            <div class="page1">
                <div class="main__h52">
                    <h5 class="imp">Важно</h5>
                </div>
                <p>   Делая махи поворачивайте руки так, чтобы мизинец показывал на потолок - этот нюанс поможет задействовать и переднюю, и заднюю "дельту" одновременно.</p>



            </div>
            <h2>Жим гантелей сидя</h2>
        <img src="{% static 'main/img/sh3.png'  %}" alt="Плечи">
        <h5>Техника</h5>
        <p>  1)Установите спинку скамьи вертикально. Сядьте на скамью, возьмите в   обе руки гантели и поднимите их над плечами. Чуть-чуть подайте гантели вперед и разверните так, чтобы ладони были направлены вперед;</p>
        <p>    2)Отведите плечи назад и расправьте грудь. Напрягите пресс, поясничные мышцы и зафиксируйте позвоночник в нормальном положении до конца сета. Слегка разведите гантели в стороны так, чтобы расстояние между ладонями было чуть шире плеч, а локти направленны в стороны и вниз;</p>
        <p>   3)Опустите гантели вниз, сгибая руки в локтях, и вдохни воздух;</p>
             <p>4)Выдохните и подними гантели обратно вверх, выпрямив руки.</p>


        <h2>Тяга штанги к подбородку</h2>
        <img src="{% static 'main/img/sh4.png'  %}" alt="Плечи">
        <h5>Техника</h5>
        <p>  1)Возьмите штангу верхним хватом и выпрямите спину, гриф находится на уровне бёдер;</p>
        <p>    2)На вдохе напрягите дельту и трапециевидную. Разведите локти и потяните их вверх вертикально;</p>
        <p>   3)Движение стоит совершать именно локтями, а не плечами или предплечьями;</p>
             <p>4)Когда вы тянете локти вверх, гриф штанги должен идти в вертикальной плоскости вдоль тела от бедер до подбородка. Держите корпус и шею ровно, а подбородок — горизонтально;</p>
            <p>   5)В верхней точке локти подняты максимально вверх (однозначно выше плеч), а верхняя часть рук на 30° выше горизонтали;</p>
            <p>   6)Достигнув верхнюю точку, выдохните, сделайте паузу и еще сильнее напрягите трапеции и дельты.</p>


    </div>

       <div class="but">
       <a href="{% url 'home' %}" class="btn" role="button" data-bs-toggle="button"><i class="fa-solid fa-arrow-up"></i>  В начало</a>
       </div>
    </section>
</body>
{% endblock %}