<!DOCTYPE html>
{% extends 'main/layout.html'   %}
{%  load static  %}


{%  block  content %}




<body class="main__body">
    <section class="main__sec">
        <div class="features" style="{% static 'main/img/зал2.png'  %}" >

        <div class="main__h1">
            <h1 class="ex__sh">Лучшие упражнения для развития трицепса</h1>
        </div>
        <h2 class="main__h2">Отжимания на брусьях</h2>
        <img class="ex__img" src="{% static 'main/img/tric1.png'  %}" alt="Трицепс">
        <div class="main__h5">
            <h5>Техника</h5>
        </div>
        <div class="main__p22">
            <p>  1)Возьмитесь за брусья, не поднимайте плечи, сведите лопатки;</p>
            <p>    2)Опуститесь до параллели плеч с полом. Корпус держите прямо, не наклоняйтесь вперёд: это позволит максимально загрузить трицепсы;</p>
            <p>   3)Выжмите себя наверх и повторите упражнение.</p>

        </div>
            <div class="page1">
                <div class="main__h52">
                    <h5 class="imp">Важно</h5>
                </div>
                <p>   Если у вас пока не получается выполнять отжимания на брусьях, попробуйте сделать их от скамьи.</p>



            </div>
            <h2> Обратные отжимания от скамьи</h2>
        <img src="{% static 'main/img/tric2.png'  %}" alt="Трицепс">
        <h5>Техника</h5>
        <p>  1)Найдите невысокую опору, повернитесь к ней спиной и поставьте ладони так, чтобы пальцы смотрели в стороны. Благодаря такой постановке рук плечевой сустав будет меньше выходить вперёд, а значит, сократятся шансы повредить его;
Выпрямите ноги, не поднимайте плечи;</p>
        <p>    2)Выпрямите ноги, не поднимайте плечи;</p>
        <p>   3)Опуститесь до параллели плеч с полом, а затем выжмите себя наверх. Старайтесь делать упражнение плавно, без рывков: так вы максимально нагрузите трицепс и не травмируете сустав.</p>



        <h2>Французский жим штанги лёжа</h2>
        <img src="{% static 'main/img/tric3.png'  %}" alt="Плечи">
        <h5>Техника</h5>
        <p>  1)Сначала расположите штангу у изголовья скамьи на удобном для Вас уровне или попросите партнера по тренировкам вам ее подать;</p>
        <p>    2)Согните руки в локтях, аккуратно обхватите гриф ладонями на симметричном от центра расстоянии и поднимите ее вверх, полностью выпрямив локти;</p>
        <p>   3)Как только Вы опустили штангу достаточно низко и как следует растянули длинную головку трицепса, начинайте выжимать штангу вверх в исходное положение, делая выдох. При этом локти должны находиться в той же позиции, что и при опускании, разводить их в стороны или сводить внутрь недопустимо, а ягодицы, верх спины и затылок следует плотно прижать к скамье.</p>

         <div class="page1">
                <div class="main__h52">
                    <h5 class="imp">Важно</h5>
                </div>
                <p>   Наряду с трицепсом, упражнение сильно нагружает крепление этой мышцы к локтю. Связки и сухожилия растягиваются и могут травмироваться, поэтому стоит выполнять французский жим будучи полностью размятым.</p>
         </div>



         <h2>Тяга верхнего блока на трицепс</h2>
        <img src="{% static 'main/img/tric4.png'  %}" alt="Плечи">
        <h5>Техника</h5>
        <p>  1)Повернитесь лицом к Кроссоверу, возьмите прямую рукоять верхнего блока хватом сверху по краям;</p>
        <p>    2)Расставьте ноги по ширине таза и прижмите локти к корпусу. Предплечья расслаблены, рукоять на уровне плеч;</p>
        <p>   3)На выдохе выполните разгибание рук, не отрывая локтей, опустив рукоять полностью до бёдер;</p>
        <p>   4)На вдохе плавно и без рывка согните локти.</p>
         <div class="page1">
                <div class="main__h52">
                    <h5 class="imp">Важно</h5>
                </div>
                <p>   При выполнении данного упражнения, можно использовать разные рукояти. Так будут нагружаться разные головки трицепса.  </p>
         </div>

    </div>

       <div class="but">
       <a href="{% url 'home' %}" class="btn" role="button" data-bs-toggle="button"><i class="fa-solid fa-arrow-up"></i>  В начало</a>
       </div>
    </section>
</body>
{% endblock %}